@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  background-color: #1E1E1E;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 30px;
}


.nav-ul li a {
  color: #BFBFBF;
}

.nav-icons {
  display: flex;
  gap: 30px;
}

.nav-menu {
  display: none;
}

