@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  background-color: #1E1E1E;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 14px;
}

.api-section {
  margin-top: 200px;
}

.api-header__left h3 {
  font-size: 38px;
  color: #fff;
}

.api-header__left p {
  font-size: 18px;
  margin-top: 14px;
  color: #999999;
}

.swiper_1 {
  height: 342px;
  text-align: center;
  margin-top: 80px;
}

.movie-slide {
  background-color: rgb(46, 46, 46);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  width: 235px;
  padding: 10px;
  border-radius: 12px;
}

.swiper-slide-1 {
  display: flex;
  justify-content: center;
}

.movie-slide img {
  height: 100%;
  }

.movie-slide__bottom {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 10px;
}

.movie-slide__bottom img {
  cursor: pointer;
}

.swiper-button-prev {
  position: absolute;
  left: 20px;
}
.swiper-button-prev img {
  margin-right: -25px;
  z-index: 1;
}

.swiper-button-next {
  margin-right: -7px;
}

.swiper-slide-active {
  transform: scale(1.1);
}

.trial-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trial-header__left h3 {
  font-size: 38px;
  font-weight: bold;
  color: #fff;
}

.trial-header__left p {
  font-size: 18px;
  margin-top: 10px;
  color: #999999;
}

.trial-btns {
  display: flex;
  gap: 20px;
  background-color: #000;
  overflow: hidden;
  border-radius: 12px;
  padding: 10px;
}



.trial-btns button {
  all: unset;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
}

.trial-btns button:nth-child(1) {
  all: unset;
  background-color: #1f1f1f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.trial-btns button:nth-child(2) {
  all: unset;
  background-color: #1f1f1f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.trial-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
  margin-top: 60px;
}

.trial-card {
  background-color: #262626;
  padding: 20px;
  border-radius: 12px;
}

.trial-card .trial-title {
  color: #fff ;
}

.trial-card .trial-desc {
  max-width: 412px;
  color: #999999;
  margin-top: 20px;
}

.trial-price {
  color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
}

.trial-price span {
  color: #999999;
  font-size: 16px;
}

.trial-card__btns {
  display: flex ;
  gap: 20px;

}

.trial-card__btns button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.trial-card__btns button:nth-child(1) {
  background-color: #141414;
  color: #fff;
}
.trial-card__btns button:nth-child(2) {
  background-color: #E50000;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .trial-header {
    flex-direction: column;
    gap: 30px;
  }
}