 .img-header{
  background-image: url(../imgs/Sub\ Container.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
.section1-title{
  color:#fff;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  align-items: center;
}
.section1-titr{
  font-size: 14px;
  color: #999999;
  text-align: center;
  margin-top: 10px;
}
.section1-titr1{
  display: none;
}
.section1-btn{
  background-color: #E50000;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  border: none;
}
.section1-btn img{
  padding: 14px;
}
.section1-btn h3{
  font-size: 14px;
  padding-right:24px;
}
.section1{
  padding-top: 600px;
}

.section2-title{
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 14px;
}
.section2-titr{
  font-size: 18px;
  color: #999999;
  margin-bottom: 80px;
}
.section2-card{
  border: 1px solid black;
  border-radius: 12px;
  background-color: #0f0f0f;
  padding: 50px;
  flex-grow: 1;
  width: 400px;
  transition: .5s; 
  cursor: pointer;
}
.section2-card:hover {
  transform: scale(1.02);
}

.card-top{
  display: flex;
  gap: 16px;
}
.card-top h4{
  font-size: 24px;
  color: #fff;
}
.section2-card p{
  font-size: 18px;
  color: #999999;
  margin-top: 30px;
}
.card-list1{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card-list2{
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.container-img{
  margin-block: 150px;
  background-image: url(../imgs/Background\ Images.png); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-title{
   display: flex;
   justify-content: space-between;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 80px;
   align-items: center;
}
.content-title h1{
  font-size: 48px;
  font-weight: bold;
  color: #fff; 
}
.content-title button{
   border-radius: 8px;
   background-color:#E50000 ;
   color: #fff;
   font-size: 18px;
   border: none;
   width: 188px;
   height:63px ;
}
.container-img p{
   font-size: 18px;
   color: #999999;
   padding-left: 100px;
   padding-top: 14px;
   padding-bottom:100px ;
}


@media screen and (max-width:992px) {
   .container-img{
       display: flex;
       flex-direction:column;
   }
   .content-title{
       display: flex;
       flex-direction:column;
       align-items: center;
       text-align: center;
   }
   .container-img p{
       /* text-align: center;
       align-items: center; */
    margin-right: 70px;
      }
   .content-title button {
    margin-block: 30px;
   }
}

@media screen and (max-width:790px){
  .section1-titr span{
      display: none;
      max-width: 390px;
      
  }
  .content-title button {
    margin-block: 40px;
  }
  .container-img  {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .content-title h1 {
    font-size: 24px;
    max-width: 298px;
  }
  .container-img p {
    font-size: 14px;
  }
} 